body {

    max-width: 1280px;
    background-color: #ffffff;
    margin: 0;
}

/* Navigation */

.menu_lukket {
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 2vw
}

.menu_lukket img {
    z-index: 3;
}

.menubutton {
    width: 2em;
    height: 2em;
    padding-top: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;
    z-index: 10;
}

.bar {
    width: 1.7em;
    height: 0.1em;
    background-color: black;
    transition: transform .7s;
}


.kryds .bar1 {
    transform: rotate(45deg) translate(8px, 7px);
}

.kryds .bar2 {
    opacity: 0;
}

.kryds .bar3 {
    transform: rotate(-45deg) translate(8px, -7px)
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    background-color: rgb(199, 242, 232);
    width: 100%;
    transform-origin: top;
    transition: transform .7s;


    z-index: 5;
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;

}

li {
    display: flex;
    justify-content: space-between;
    text-decoration: none;


}

a {
    color: w;
    margin: 2vw;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

nav ul li:hover {

    background-color: rgba(255, 255, 255, 0.51);
}

nav ul li a:hover {
    background-color: rgba(240, 248, 255, 0);
    color: black;
}


.hidden {
    transform: translateY(-300px);
}

/*tekst*/

h1 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 8vw;
    color: black;

}

h2 {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    margin-left: 2.2em;
    color: black;
}

h3 {
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    margin-left: 2.7em;
    color: black;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-left: 6.5em;
    color: black;
    line-height: 1.3em;
}

.video_txt p {
    font-family: 'Montserrat', sans-serif;
    margin-left: 8vw;
    color: black;
    margin-top: 0.5vw;
}



.video_txt li {
    font-family: 'Montserrat', sans-serif;
    margin-left: 8vw;
    color: black;
}

.video_txt {
    flex-basis: 500px;
}



.cv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vw;
}

.sectionwrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1vw;
    padding-top: 2vw;
    padding-bottom: 5vw;
    flex-wrap: wrap;
}



.kontakt {
    display: flex;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.kontakt img {
    border-radius: 50%;
    margin-left: 8vw;
}

.kontak a {
    color: black;
}

.kontakt p {
    margin-top: 3vw
}



.cph_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.godt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.sectionwrapper1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 1vw;
    padding-top: 2vw;
    padding-bottom: 5vw;
}

iframe {
    margin-left: 8vw;
}

.tema_wrap {
    display: flex;
    flex-wrap: wrap;
}

.tema_icon {
    margin-left: 8vw;
    margin-top: 1vw;
}

.tema_overskrift h1 {
    margin-left: 3vw;
}

.tema {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 5px;

}

.tema a {
    font-size: 1em;
    padding-left: 15px;
    margin-left: 0px;
}

.tema a:link,
a:visited {

    padding-top: 55px;
    text-decoration: none;
    display: flex;
    background-color: #d8faee;
    width: 200px;
    height: 135px;
}

.tema a:hover,
a:active {
    background-color: #b6e8dd;
    color: black;
}



.velkommen {
    display: flex;
    flex-wrap: wrap;
}

.velkommen p {
    width: 40vw;
    margin-top: 5vw;
}

.velkommen img {
    margin-left: 8vw;
}


footer {
    text-align: center;
    font-size: 0.6em;
}

.column {
    display: flex;
    flex-wrap: wrap;
}

.column_content {
    width: 260px;

}

.column_content p {
    margin-left: 0vw;
    line-height: 1.4em
}


.column_content txt {
    width: 40vw;
}

b {
    color: #8ce2cd;
}

.semester {
    margin-top: 2vw;
    margin-left: 6vw;
}
