body {

    max-width: 1280px;
    background-color: #ffffff;
    margin: 0;
}

/* Navigation */

.menu_lukket {
    display: flex;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1vw
}

.menu_image img {
    width: 320px;
}

.menu_lukket img {
    z-index: 3;
}

.menubutton {
    width: 34px;
    height: 35px;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position: relative;
    z-index: 10;
}

.bar {
    width: 33px;
    height: 2px;
    background-color: black;
    transition: transform .7s;
}


.kryds .bar1 {
    transform: rotate(45deg) translate(8px, 7px);
}

.kryds .bar2 {
    opacity: 0;
}

.kryds .bar3 {
    transform: rotate(-45deg) translate(8px, -7px)
}


nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    background-color: #CAE6E2;
    width: 100%;
    transform-origin: top;
    transition: transform .7s;


    z-index: 5;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5vw;
    width: 1200px;
    justify-content: space-around;

}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: black;
    margin: auto;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
    display: flex;
    justify-content: space-around;
}

nav ul li a:hover {

    background-color: rgba(255, 255, 255, 0.51);
    color: black;
}

/*nav ul li a:hover {
    background-color: rgba(240, 248, 255, 0);
    color: black;
}*/

.hidden {
    transform: translateY(-400px);
}

/*tekst*/

h1 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 8vw;
    margin-top: 5vw;
    color: black;

}

h2 {
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    margin-left: 2.2em;
    color: black;
}

h3 {
    font-size: 1.2em;
    font-family: 'Raleway', sans-serif;
    margin-left: 2.7em;
    color: black;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-left: 6.5em;
    color: black;
    line-height: 1.3em;
}


.video_txt p {
    font-family: 'Montserrat', sans-serif;
    margin-left: 8vw;
    color: black;
    margin-top: 0.5vw;
}



.video_txt li {
    font-family: 'Montserrat', sans-serif;
}

.video_txt {
    width: 600px
}



.cv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vw;
}

.sectionwrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 1vw;
    padding-top: 2vw;
    padding-bottom: 5vw;
    flex-wrap: wrap;
}


.kontakt {
    display: flex;
    justify-content: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
}

.kontakt img {
    border-radius: 50%;
    margin-left: 8vw;
}



.kontakt p {
    margin-top: 3vw
}



.cph_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.video_txt ul {
    display: flex;
    flex-direction: column;
}



.godt {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.sectionwrapper1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    padding: 1vw;
    padding-top: 2vw;
    padding-bottom: 5vw;
}

iframe {
    margin-left: 8vw;
}

.tema_wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vw;
}

.tema_icon {
    margin-left: 8vw;
    margin-top: 3.8vw;
}

.tema_overskrift h1 {
    margin-left: 3vw;
}

.tema {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.tema a {
    font-size: 0.9em;
    padding-left: 15px;
    margin-left: 0px;
    background-color: rgba(240, 248, 255, 0);

}

.tema a:link,
a:visited {

    padding-top: 80px;
    text-decoration: none;
    display: flex;
    background-color: #e1f5f2;
    width: 200px;
    height: 135px;
    margin: 5px;
    color: black;
}

.tema a:hover,
a:active {
    background-color: #e1f5f2;
    color: black;
}



.velkommen {
    display: flex;
    flex-wrap: wrap;
}

.velkommen p {
    width: 37vw;
    margin-top: 5vw;
    margin-left: 8vw
}

.velkommen img {
    width: 37vw;
    margin-left: 8vw;
    border-radius: 50%
}


footer {
    text-align: center;
    font-size: 0.6em;
}

.column {
    display: flex;
    flex-wrap: wrap;
}

.column_content {
    width: 260px;



}

.column_content p {
    margin-left: 0vw;
    line-height: 1.4em;
    text-align: center;


}


.column_content txt {
    width: 40vw;
}

b {
    color: #79ceb9;
    font-size: 1.4em
}

.semester {
    margin-top: 2vw;
    margin-left: 6vw;
}

.box {
    margin: 2vw;
}

.column_portfolie1 {
    background-color: #d8faee;
    border-radius: 50%;
    width: 13vw
}

.box a {
    background-color: #d8faee;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;

}

.box a:hover {
    background-color: #b6e8dd;
}

.txt_cv b {
    font-size: 1.1em;
}

.txt_cv p {
    margin-left: 8vw;
}

.txt_cv h1 {
    margin-top: 0vw;
}

.txt_cv {
    position: relative;
    animation-name: go_room;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;

}

@keyframes go_room {
    from {
        left: -80vw;
    }
    to {
        left: 0vw;
    }
}

.kompetancer h1 {
    margin-top: 0vw;
    margin-left: 2.9vw;
}

.kompetancer {
    display: flex;
    margin-left: 5.3vw;
    margin-top: 2vw;
    margin-bottom: 2vw;
    position: relative;
    animation-name: go_room;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

@keyframes go_room {
    from {
        left: -80vw;
    }
    to {
        left: 0vw;
    }
}

.kompetancer img {
    width: 170px;

    margin-top: 55px;
}



.kompetancer p {
    line-height: 1.5;
    margin-left: 8vw;
}



.person_billede {
    justify-content: center;
    position: relative;
    animation-name: go_room;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
}

.person_billede img {
    margin-left: 8vw;
}

@keyframes go_room {
    from {
        left: -80vw;
    }
    to {
        left: 0vw;
    }
}


.person_billede img {
    width: 50vw;
    height: 35vw
}


.sectionwrapper2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 7vw;
    margin-left: 5vw;
    margin-right: 5vw;

}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    width: 20%;
    justify-content: space-around;
    margin-bottom: 10vw;
}



.image {
    display: flex;
    width: 150px;
    height: 150px;

}



.overlay {
    position: absolute;
    height: 150px;
    width: 150px;
    opacity: 0;
    transition: .5s ease;
    background-color: #e1f5f2;
    border-radius: 50%;
}

.container:hover .overlay {
    opacity: 1;
}

.text a {
    color: black;
    font-size: 0.7em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    margin: 0vw;
    text-decoration: none;
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .container {
        width: 33%;
    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    .menu_image img {
        width: 220px;
        margin-top: 17px;
    }

    .container {
        width: 100%;
    }

    .image {
        width: 225px;
        height: 225px;
    }

    .overlay {
        height: auto;
        width: 100%;
        margin: 15px 0 40px 0;
        text-align: center;
        position: relative;
        opacity: 1;
        background-color: #ffffff;
    }
    .overlay .text a {
        font-size: 1em;
        position: inherit;
    }
    .tema_wrap {
        flex-wrap: nowrap;
    }

    .video {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    iframe {
        margin: 0 0 20px 0;
        width: 94%;
    }

    .video_txt p {
        margin-left: 4vw;
        margin-right: 4vw;
    }

    .velkommen {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
    }

    .velkommen_image {

        display: inline-block;
        justify-content: space-around;
    }

    .velkommen_image img {
        width: 80%;
        margin: 4vw;
    }

    .velkommen_txt {
        margin: 0 4vw 0 4vw;
    }

    .velkommen_txt p {
        width: 80%;
    }

    .kontakt img {
        border-radius: 50%;
        margin-left: 0vw;
    }

    .kontakt {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 5vw;
        padding-bottom: 5vw;
        text-align: center;
    }

    .kontakt p {
        margin-left: 0vw;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        /* margin-left: 5vw; */
        width: 370px;
        justify-content: space-around;
        padding-left: 0;
    }

    nav ul li {
        width: 100%
    }

    nav ul li a {
        height: 45px;
        line-height: 45px;
    }

    .person_billede img {
        width: 85%;

        height: inherit;
    }

    footer p {
        margin: 20px 0 10px 0;
    }
}
